executor.name = 'slurm'
executor.cpus = 64
executor.memory = 256.GB
executor.queueSize = 10
process {
    queue = 'earth-3'
    clusterOptions = '--constraint=rhel8'
    withName: 'CONFIGURE_PVACSEQ' {
        publishDir = [ enabled: false ]
    }
    withName: 'PVACTOOLS_PVACSEQ' {
        queue          = 'earth-4'
        clusterOptions = '--constraint=rhel8 --gres=gpu:l40s:1'
        cpus           = 16
        memory         = '128.GB'
    }
    withName: 'ENSEMBLVEP_DOWNLOAD' {
        conda = '__BASE__/nextflow_work/conda/env-2def1406b7b4183115ec06885ae604a4'
    }
}
