/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input   = "${projectDir}/tests/data/input"
    hla_csv = "${projectDir}/tests/data/small_hla.csv"
    fasta   = "${projectDir}/tests/data/chrY.fa"

    // pVACseq parameters
    pvacseq_algorithm          = 'all'
    extra_pvacseq_args         = '-e1 9 -e2 12 -b 500'

    vep_genome = "GRCh38"
    vep_cache_version = "102"
    vep_species = "homo_sapiens"
    extra_vep_args = "--database" // Use online VEP annotation
}
